.App {
  text-align: center;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: rgb(188, 175, 111); */
  background-color: rgb(188, 175, 111);
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Main-Container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: rgb(188, 175, 111); */
  background-color: rgb(188, 175, 111);
  height: 100vh;
}

.Main-Header {
  font-size: 50px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(188, 175, 111);
  padding-bottom: 10%;
}

.Main-Text-Entry-Box {
  width: 600px;
  height: 20%;
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(188, 175, 111);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding-left: 10px;
}

.Main-Form-Width {
  width: 600px;
  height: 20%;
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(188, 175, 111);
  /* border: 2px solid rgb(0, 0, 0); */
  border-radius: 5px;
  padding-left: 10px;
}

.Main-Submit-Button-Frame {
  padding-top: 10px;

}

.Main-Submit-Button {
  background-color: #61dafb;
  color: #61dafb;
}