.PageBackground {
    background-color: #25b3719b;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.PageHeaderBar {
    background-color: #25b371;
    height: 10vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 1px solid #1c4130;
}

.PageHeader {
    color: #ffffff;
    font-size: 2.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    padding-top: 4vh;
    padding-left: 2vw;
    /* align-items: center; */
}

.KPITile {
    background-color: #ffffff;
    height: 20vh;
    width: 20vw;
    margin: 2vw;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-top: 4vh;
}